@font-face {
  font-family: meet;
  src: url(/font/5f242a694256f02b944d5767_EditorialNew-Light.ttf);
}
@font-face {
  font-family: jay;
  src: url(/font/5f242a69b1577e63266b4d72_DomaineDispCondMedium.ttf);
}
@font-face {
  font-family: joy;
  src: url(/font/616fd1dd00cf6c70f978fc69_Canopee.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#page-1 {
  min-height: 100vh;
  width: 100%;
  background-color: #cdc6be;
  padding-bottom: 4vw;
}
#navbar {
  width: 100%;
  padding: 1.5vw 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
#nav-1 {
  font-size: 0.5rem;
  font-family: meet;
}
#nav-2 img {
  width: 50%;
}
#nav-3 i {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}
#page1-main {
  width: 100%;
  height: 50vh;
  padding: 2vw 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#page1-main1 {
  width: 35%;
  height: 100%;
  padding: 0vw 2vw;
}
#page1-main2 {
  width: 30%;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
#page1-main3 {
  width: 35%;
  height: 100%;
  padding: 0vw 2vw;
}
.elemimg {
  width: 90%;
  border: 1px solid black;
}
.elemh2 {
  font-family: joy;
  font-size: 1.5rem;
  padding: 1vw 0vw;
}
.elemh2 span {
  font-family: joy;
  font-size: 1rem;
  padding: 0.3vw 0.3vw;
  color: white;
  background-color: red;
  border-radius: 3px;
}
.elemp {
  font-family: jay;
  font-size: 1.225rem;
}
#page1-main2 {
  text-align: center;
}
#page1-main2 h2 {
  font-size: 3rem;
  font-family: joy;
}
#page1-main2 p {
  font-size: 2.5rem;
  font-family: jay;
  font-weight: 100;
  padding: 1vw 0vw;
}
#page1-main2 span {
  font-size: 1.5rem;
  font-family: jay;
  font-weight: 100;
}
#page1-heading {
}
#page1-heading h1 {
  width: 96%;
  margin-right: 2%;
  margin-left: 2%;
  font-size: 30rem;
  font-family: joy;
  color: #cdc6be;
  background-color: black;
  text-align: center;
  justify-content: center;
}
#page-2 {
  min-height: 100vh;
  width: 100%;
  background-color: #cdc6be;
  display: flex;
}
#page2-left {
  min-height: 100%;
  width: 35%;
  padding: 0vw 2vw;
}
#page2-left h2 {
  text-align: center;
  font-family: joy;
  font-size: 12rem;
  font-weight: 600;
  line-height: 7rem;
  padding-bottom: 3vw;
}
#page2-left h2 span {
  font-family: jay;
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: -1px;
}
#page2-left img {
  width: 100%;
  border: 1px solid black;
}
#page2-left p {
  font-family: meet;
  font-size: 2rem;
  font-weight: 100;
}
#page2-right {
  min-height: 100%;
  width: 65%;
  padding: 0vw 2vw;
  border-left: 1px solid black;
}
#page2-right img {
  width: 100%;
  border: 1px solid black;
}
#page2-right p {
  font-family: joy;
  font-size: 7rem;
  padding: 2vw 0vw;
}
#page-3 {
  min-height: 100vh;
  width: 100%;
  background-color: #cdc6be;
}
